<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- board_study mapper -->
<mapper namespace="dev.mvc.mapper.BookmarkMapper">

<!-- 북마크 등록 등록 -->
<insert id="createBookmark">
INSERT 
INTO
bookmark (
useremail
, bsBno
) VALUES (
#{userEmail}
, #{bsBno}
)
</insert>


<!-- sohee 수정 -->
<select id="bolist" resultType="BookmarkVO">
SELECT 
count(*) as checked
, id
, bsbno
, USEREMAIL
FROM
bookmark
WHERE bsbno = #{bsbno}
AND USEREMAIL = #{writer}
</select>

<select id="list" resultType="StudyVO">
SELECT
bo.ID
, bo.BSBNO
, bo.USEREMAIL
, ba.name
, bs.bno
, bs.title
, bs.writer
, u.NICKNAME
, bs.now
, bs.max
, r.rDName
, r.rSName
, bs.age
, bs.sc
, bs.sd
, bs.st
, bs.et
, bs.content
, bs.vct
, bs.rct
, bs.regdate
, bs.enddate
, sc.cdname
, group_concat(sc.csname) csname 
FROM 
board_study bs
left outer join user u on bs.writer = u.EMAIL
left outer join (select * from board_attach where status = "O") ba on bs.bno = ba.bsbno
left outer join region r on bs.RDID = r.RDID and bs.RSID = r.RSID
left outer join board_category bc on bs.bno = bc.bsbno
right outer join bookmark bo on bs.bno = bo.bsbno
, study_category sc
WHERE bs.bno > 0
and sc.CDID = bc.CATEGORYD and sc.CSID = bc.CATEGORYS
and bo.USEREMAIL = #{writer}
group by bs.bno
</select>


<!-- 북마크 지우기 -->
 <delete id="deleteBookmark">
DELETE
FROM
bookmark
WHERE
useremail = #{userEmail}
AND bsbno = #{bsBno}
</delete> 
</mapper>
