<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 
  
  <mapper namespace = "dev.mvc.mapper.loginMapper">
  
  	
  	<!-- 관리자 로그인 -->
  	
  	
  	<!-- admin 계정 로그인 처리 -->
	<select id="adminLogin" resultType="AdminVO">
		select id, pw, bno from admin where id=#{id} and pw=#{pw}
	</select>
	
	<!-- 로그인 시 마지막 접속일 갱신 -->
	<update id="adminLastLogin">
		update admin set lastLoginDate=now() where id=#{id}
	</update>
  	
  	<!-- 사용자 로그인 -->
  	<select id = "userLogin" resultType="UserVO">
  		select * from user where email = #{email} and password = #{password}
  	</select>
  	
  	<!-- sessionKey로 로그인 여부 판단  -->
  	<update id="keepLogin" parameterType="map">
  		update user set sessionKey = #{sessionId}, sessionLimit = #{next} where email=#{email};
  	</update>
  	
  	<!-- 로그인시 사용자가 세션키를 가지고 있나 체크 (loginCookie에 기록된 값으로 사용자의 정보 조회)   -->
  	<select id="checkUserWithSessionKey" resultType="UserVO"> 
  		<!-- select * from user where sessionKey = #{value} and sessionLimit > now() -->
  		select * from user where sessionKey = #{value} 
  	</select>
  	
  	<!-- 전화번호로 이메일찾기 -->
  	<select id = "searchEmail" resultType="String">
  		select email from user where phonenum = #{phone}
  	</select>
  	
  	<!-- 구글 로그인 api 가입 -->
  	<insert id="googleLogin">
  		insert into user(email, name, nickName, gender, social) 
		values(#{email}, #{name}, #{nickName}, #{gender}, #{social}); 
  	</insert>
  	
  	<!-- 구글 로그인을 위한 아이디 찾기 -->
  	<select id="googleSelect" resultType="int">
		select count(email) from user where email=#{email}
	</select>
  		
  </mapper>