<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dev.mvc.mapper.MessageMapper">
	
	<!-- 메시지 전송 -->
	<insert id="send">
		insert into message (email, message, receiver) 
		values(#{email}, #{message}, #{receiver});
	</insert>
	
	<!-- 관리자에게 문의 메시지 전송 -->
	<select id="adminMessage" resultType="MessageVO">
		select bno,email, message, type, receiver, date_format(msgregist,'%Y-%m-%d %h:%m') as msgRegist
		from message
		where (email = 'admin' and receiver = #{email})
		or (receiver = 'admin' and email = #{email});
	</select>
	
	<!-- 관리자 문의 메시지 리스트 -->
	<select id="adminMessageList" resultType="MessageVO">
		select distinct(m.email), u.bno, ifnull(c.readCheck,0) as readCheck
		from message m
		left join (select email, count(*) as readCheck
		from message
		where receiver = 'admin' 
		and readtime is null
		group by email) c
		on m.email = c.email
		, user u
		where m.email = u.email
		and m.receiver = 'admin'
		group by m.email;
	</select>

	<!-- 관리자 문의 메시지 조회 -->
	<select id="adminMessageView" resultType="MessageVO">
		select bno, email, message, type, receiver, date_format(msgregist,'%Y-%m-%d %h:%m') as msgRegist
		from message
		where (email = 'admin' and receiver = (select email from user where bno = #{bno}))
		or (receiver = 'admin' and email = (select email from user where bno = #{bno}));
	</select>
	
	<!-- 관리자에서 읽은 메시지인 경우 업데이트 처리 -->
	<update id="adminMessageRead">
		update message set readtime=now()
		where (email = 'admin' and receiver = (select email from user where bno = #{bno}))
		or (receiver = 'admin' and email = (select email from user where bno = #{bno}));
	</update>
	
</mapper>