<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dev.mvc.mapper.MessageMapper">
	
	<!-- 메시지 전송 -->
	<insert id="send">
		insert into message (email, message, receiver) 
		values(#{email}, #{message}, #{receiver});
	</insert>
	
	<!-- 관리자에게 문의 메시지 전송 -->
	<select id="adminMessage" resultType="MessageVO">
		select bno,email, message, type, receiver, date_format(msgregist,'%Y-%m-%d %h:%m') as msgRegist
		from message
		where (email = 'admin' and receiver = #{email})
		or (receiver = 'admin' and email = #{email});
	</select>
	
	<!-- 관리자 문의 메시지 조회 -->
	<select id="adminMessageView" resultType="MessageVO">
		select bno,email, message, type, receiver, date_format(msgregist,'%Y-%m-%d %h:%m') as msgRegist
		from message
		where (email = 'admin')
		or (receiver = 'admin');
	</select>
	
</mapper>