<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- notice mapper -->
<mapper namespace="dev.mvc.mapper.NoticeMapper">

<!-- 공지사항 읽어오기 -->
<select id="readNotice" resultType="dev.mvc.study.NoticeVO">
select
NTBNO
, NTTITLE
, NTCONTENT
, NTREGDATE
, NTWRITER
from
notice
where NTBNO = #{ntBno}
</select>

<!-- 게시판 전체 -->
<select id="noticeList" resultType="dev.mvc.study.NoticeVO">
<![CDATA[
select
NTBNO
, NTTITLE
, NTCONTENT
, NTREGDATE
, NTWRITER
from
notice
where NTBNO > 0
order by NTBNO desc
, NTREGDATE desc
]]>
</select>

<select id="listPage" resultType="dev.mvc.study.NoticeVO">
<![CDATA[
select
NTBNO
, NTTITLE
, NTCONTENT
, NTREGDATE
, NTWRITER
from
notice
where NTBNO > 0
ORDER BY NTBNO desc, NTREGDATE desc
limit #{page}, 9
]]>
</select>

<select id="listCriteria" resultType="dev.mvc.study.NoticeVO">
<![CDATA[
select
NTBNO
, NTTITLE
, NTCONTENT
, NTREGDATE
, NTWRITER
from
notice
where NTBNO > 0
ORDER BY NTBNO desc, NTREGDATE desc
limit #{pageStart}, #{perPageNum}
]]>
</select>
</mapper>