<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- notice mapper -->
<mapper namespace="dev.mvc.mapper.NoticeMapper">

<!-- 공지사항 읽어오기 -->
<select id="readNotice" resultType="dev.mvc.domain.NoticeVO">
select
bno
, title
, content
, regdate
, writer
from
notice
where bno = #{bno}
</select>

<!-- 게시판 전체 -->
<select id="noticeList" resultType="dev.mvc.domain.NoticeVO">
<![CDATA[
select
bno
, title
, content
, regdate
, writer
from
notice
where bno > 0
order by bno desc
, regdate desc
]]>
</select>
</mapper>