<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="dev.mvc.mapper.qnaMapper">
  
  	<insert id="create">

  	insert into board_qna( 
  	title
  	, writer
  	, categoryD
  	, categoryS
  	, content
  	, rct
  	, regdate
  	, type
  	)
  	values(
  	 #{title}
  	 , #{writer}
  	 , #{categoryD}
  	 , #{categoryS}
  	 , #{content}
  	 , #{rct}
  	 , #{regdate}
  	 , #{type}
  	 )
  	</insert>
  
  	<select id="read" resultType="dev.mvc.domain.QnaVO">
  	select
  		bno
  		, type
  		, title
  		, writer
  		, content
  		, regdate
  	from 
  		board_qna
  	where bno = #{bno} 
  	</select>
  	
  	<update id="update">
  	update board_qna set title =#{title}, content =#{content}
  	where bno =#{bno}
  	</update>
  	
  	<delete id="delete">
  	delete from board_qna 
  	where bno =#{bno}
  	</delete>
  	
  	<select id="listAll" resultType="dev.mvc.domain.QnaVO">
  	<![CDATA[
  	select
  		bno
  		, title
  		, content
  		, writer
  		, regdate
  	from
  		board_qna
  	where bno > 0
  	order by bno desc, regdate desc
  	]]>
  	</select>
  	
  	<!-- 페이징 SQL -->
  	<select id="listPage" resultType="dev.mvc.domain.QnaVO"> <!-- alias를 하면 QnaVO만 쓸 수 있다. -->
  	<![CDATA[
  	select 
  		bno
  		, title
  		, writer
  		, content
  		, regdate
  		, type
  	from
  		board_qna
  	where bno > 0
  	order by bno desc, regdate desc
  	limit #{page},10
  	]]>
  	</select>
  	
  	<!-- listCritetia추가 -->
  	<select id="listCriteria" resultType="dev.mvc.domain.QnaVO"> <!-- 까먹지말아라 -->
  	<![CDATA[
  	select
  		bno
  		, title
  		, writer
  		, content
  		, regdate
  		, type
  	from
  		board_qna
  	where bno > 0
  	order by bno desc, regdate desc
  	limit #{pageStart}, #{perPageNum}
  	]]>
  	</select>
  	
  	<!-- paging qnaDAO에서사용할 -->
  	<select id="countPaging" resultType="int">
  	<![CDATA[
  	select
  		count(bno)
  	from
  		board_qna
  	where
  		bno > 0
  	]]>
  	</select>
  	
  	
  	<sql id="search">
  		<if test="searchType != null">
  			<if test="searchType == 't'.toString()">
  				and title like CONCAT('%', #{keyword}, '%')
  			</if>
  			<if test="searchType == 'c'.toString()">
  				and content like CONCAT('%', #{keyword}, '%')
  			</if>
  			<if test="searchType == 'w'.toString()">
  				and writer like CONCAT('%', #{keyword}, '%')
  			</if>
  			<if test="searchType == 'tc'.toString()">
  				and ( title like CONCAT('%', #{keyword}, '%') OR content like CONCAT('%', #{keyword}, '%'))
  			</if>
  			<if test="searchType == 'cw'.toString()">
  				and ( content like CONCAT('%', #{keyword}, '%') OR writer like CONCAT('%', #{keyword}, '%'))
  			</if>
  			<if test="searchType == 'tcw'.toString()">
  				and ( title like CONCAT('%', #{keyword}, '%') 
  						OR content like CONCAT('%', #{keyword}, '%') 
  						OR writer like CONCAT('%', #{keyword}, '%') )
  			</if>
  		</if>
  	</sql>
  	
  	
  	<select id="listSearch" resultType="dev.mvc.domain.QnaVO">
  	<![CDATA[
  	select *
  	from
  		board_qna
  	where
  		bno>0
  	]]>
  		
  		<include refid="search"></include> <!-- search sql태그에서 include -->
  		
  	<![CDATA[
  	order by bno desc
  	limit #{pageStart}, #{perPageNum}
  	]]>
  	</select>
  	
  	<select id="listSearchCount" resultType="int">
  	<![CDATA[
  	select count(bno)
  	from
  		board_qna
  	where
  		bno>0
  	]]>
  	
  		<include refid="search"></include>
  	</select>
  	
  </mapper>