<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- board_study mapper -->
<mapper namespace="dev.mvc.mapper.StudyMapper">

<!-- 스터디 등록 -->
 <insert id="createStudy">
insert into board_study (
BSTITLE
, BSWRITER
, BSCATEGORYD
, BSCATEGORYS
, BSMAX
, BSRDID
, BSRSID
, BSAGE
, BSSC
, BSSD
, BSST
, BSET
, BSCONTENT
) values (
#{bsTitle}
, #{bsWriter}
, #{bsCategoryD}
, #{bsCategoryS}
, #{bsMax}
, #{bsRDId}
, #{bsRSId} <!-- null허용 -->
, #{bsAge}
, #{bsSc}
, #{bsSd}
, #{bsSt}
, #{bsEt}
, #{bsContent} <!-- null허용 -->
)
</insert>

<!-- 스터디 읽어오기 -->
<select id="readStudy" resultType="dev.mvc.study.StudyVO">
select
BSBNO
, BSTITLE
, BSWRITER
, BSCATEGORYD
, BSCATEGORYS
, BSNOW
, BSMAX
, BSRDID
, BSRSID
, BSAGE
, BSSC
, BSSD
, BSST
, BSET
, BSCONTENT
, BSVCT
, BSRCT
, BSREGDATE
, BSENDDATE
from
board_study
where BSBNO = #{bsBno}
</select>

<!-- 전체불러오기 -->
<select id="studyList" resultType="dev.mvc.study.StudyVO">
<![CDATA[
select
BSBNO
, BSTITLE
, BSWRITER
, BSCATEGORYD
, BSCATEGORYS
, BSNOW
, BSMAX
, BSRDID
, BSRSID
, BSAGE
, BSSC
, BSSD
, BSST
, BSET
, BSCONTENT
, BSVCT
, BSRCT
, BSREGDATE
, BSENDDATE
from
board_study
where bsBno > 0
order by bsBno desc, bsRegdate desc
]]>
</select>


</mapper>
