<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- board_study mapper -->
<mapper namespace="dev.mvc.mapper.StudyMapper">
<!-- 스터디 등록 -->

 <insert id="createStudy">
insert into board_study (
BS_TITLE
, BS_WRITER
, BS_CATEGORY_D
, BS_CATEGORY_S
, BS_MAX
, BS_R_D_ID
, BS_R_S_ID
, BS_AGE
, BS_SC
, BS_SD
, BS_ST
, BS_ET
, BS_CONTENT
) VALUES (
#{title}
, #{writer}
, #{categoryD}
, #{categoryS}
, #{max}
, #{rDId}
, #{rSId} <!-- null허용 -->
, #{age}
, #{sc}
, #{sd}
, #{st}
, #{et}
, #{content} <!-- null허용 -->
)
</insert>
</mapper>
