<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 
  
  <mapper namespace = "dev.mvc.mapper.userMapper">
  
  	<!-- 회원 가입 -->
  	<insert id="joinUser">
  	insert into jjstudy.user(email, name, password, nickName, birth, gender, phoneNum) 
	values(#{email}, #{name}, #{password}, #{nickName}, #{birth}, #{gender}, #{phoneNum}); 
  	</insert>
  	
  	<!-- 로그인 -->
  	<select id = "loginUser" resultType="UserVO">
  		select * from user where email = #{email} and password = #{password}
  	</select>
  </mapper>