<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 
  
  <mapper namespace = "dev.mvc.mapper.userMapper">
  
  	<!-- 회원 가입 -->
  	<insert id="joinUser">
  	insert into jjstudy.user(email, name, password, nickName, birth, gender, phoneNum) 
	values(#{email}, #{name}, #{password}, #{nickName}, #{birth}, #{gender}, #{phoneNum}); 
  	</insert>
  	
<!-- 
  	<select id = "loginUser" resultType="UserVO">
  		select * from user where email = #{email} and password = #{password}
  	</select> -->
  	
  	<!-- 로그인 -->
  	<select id = "userDTOLogin" resultType="UserVO">
  		select * from jjstudy.user where email = #{email} and password = #{password}
  	</select>
  	
  	<!-- 프로필 읽어오기 #(email)-->
  	<select id="read" resultType="UserVO">
  	select photo, email,password, name, nickname, birth, gender, phoneNum, introduction, homepage
  	from jjstudy.user 
  	where email=#{email};
  	</select>
  	
  	<!-- 프로필 수정 -->
  	<update id="update">
  	update jjstudy.user set name=#{name}, nickname=#{nickName}, gender=#{gender}, phoneNum=#{phoneNum}, 
  	birth=#{birth}, photo=#{photo} where email=#{email};
  	</update>
  	
  	<!-- 부가정보 수정 -->
  	<update id="updateAddInfo">
  	update jjstudy.user set homepage=#{homepage}, introduction=#{introduction} where email=#{email}; 
  	</update>
  	
  	<!-- 비밀번호 변경 -->
  	<update id="changePw">
  	update jjstudy.user set password=#{password} where email=#{email};
  	</update>
  	
  	<!-- 회원 탈퇴 -->
  	<update id="quit">
  	update jjstudy.user set isDel=1 where email=#{email};
  	</update>
  	
  	<!-- sessionKey로 로그인 여부 판단  -->
  	<update id="keepLogin" parameterType="map">
  	update jjstudy.user set sessionKey = #{sessionId}, sessionLimit = #{next} where email=#{email};
  	</update>
  	
  	<!-- 로그인시 사용자가 세션키를 가지고 있나 체크 (loginCookie에 기록된 값으로 사용자의 정보 조회)   -->
  	<select id="checkUserWithSessionKey" resultType="UserVO"> 
  	select * from jjstudy.user where sessionKey = #{value}
  	</select>
  	
  	<!-- 비밀번호 체크 -->
  	<select id="checkPw" resultType="int">
  	select count(*) from jjstudy.user where email=#{email} and password=#{password}
  	</select>
  	
  </mapper>