<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="test.css">
</head>
<body>
    <h1>공지사항</h1>
<!--header-->

<div class='search'>
    <select class='category'>
        <option value='이름'>이름</option>
        <option value='제목'>제목</option>
        <option value='이젲'>이제</option>
    </select>

    <input type='text' value='검색해'>
    
    <input type='submit'>
</div>

<div class='content'>
    <div class='text1'>d</div>
    <div class='text1'>d</div>
    <div class='text1'>d</div>
</div>

</body>
</html>