<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <!-- ============================================
     예제 파일입니다.
  ============================================ -->
  
  <mapper namespace = "dev.mvc.mapper.TestMapper">
  	
  <!-- 	<select id = "getTime" resultType = "string"> 
  	select now() time을 가져오는 쿼리문
  	</select>
  	
  	<insert id = "insertMember"> member 추가 쿼리문
  	insert into tbl_member ( userid,
  							 userpw,
  							 username,
  							 email ) 
  					
  					values ( #{userid},
  							 #{userpw},
  							 #{username},
  							 #{email} )
  	</insert>
  	
  	<select id = "selectMember" resultType="MemberVO">
  	select * from tbl_member where userid = #{userid}
  	</select>
  	
  	<select id = "readWithPW" resultType="MemberVO">
  	select * from tbl_member where userid = #{userid} and userpw = #{userpw}
  	</select> -->
  </mapper>